header{
	background: #ab2328;
	color:#ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #d58570 5px solid;
}

header a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top: 10px;
}



/* making the grid map */
.grandparent {
  width: 100%;
}

.parent {
  width: 100%;
  height: 100%;
  float: left;
}

.child1 {
display: inline-block;
  background-color: #ffffff;
  width: 15%;
  height: 250px;
  float: left;
  border-color: #000000;
  border-width: thick;
  border-style: dotted;
}

.child2 {
	display: inline-block;
  border-color: #000000;
  background-color: #d6001c;
  width: 15%;
  height: 250px;
  float: left;
  border-width: thick;
  border-style: dotted;
}

.table {
  display: inline-block;
  border-color: #000000;
  background-color: #00205b;
  width: 15%;
  height: 250px;
  float: left;
  border-width: thick;
  border-style: dotted;
}

.child3 {
		display: inline-block;
  border-color: #000000;

  background-color: #ffffff;
  width: 15%;
  height: 250px;
  float: left;
  border-width: thick;
  border-style: dotted;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

button {
  background: #00205b;
  width: 200px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid white;
  color: white;
  cursor: pointer;
}

button:focus{background-color:red;}


/*
button:visited { #ccc; }
*/


.container {
  position: relative;
  width: 100%;

}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}